@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&family=Shizuru&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Shizuru', cursive; */
    /* font-family: 'Fredoka One', cursive; */
}

/* AWAL HEADER  */
header{
    /* background-color: darkseagreen; */
    background-color: rgb(46, 36, 36);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: lightgreen;
    border-bottom: 1px solid rgb(110, 185, 110);
}
nav li{
    display: inline;
    margin-right: 20px;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: rgb(61, 61, 61);
}
.logo p{
     font-family: 'Fredoka One', cursive;
}
.logo span{
    color:  white;
}
/* header .bi{
    margin-left: -300px;
    position: absolute;
} */
.jumbotron{
    text-align: center;
    font-size: 20px;
    padding: 200px 0;
    color: white;
}
.jumbotron h1{
    color: darkseagreen;
    font-family: 'Fredoka One', cursive;
}
.teh-hijau{
    display: none;
}
main img{
    width: 50px;
}
/* AKHIR HEADER  */

/* AWAL OVERVIEW */
/* .overview{
    background-color: darkblue;
    width: 100vw;
    padding: 0;
} */

/* AKHIR OVERVIEW */

/* AWAL ABOUT */
#about-article{
    background-color: lightgreen;
    padding: 0 20px;
}
#about-article img{
    width: 100%;
}
.list-dropdown div:first-child{
    display: flex;
    /* justify-content: space-between; */
}
/* AKHIR ABOUT */

#team table, th, td{
    margin-top: 12px;
    /* border: .5px solid #dee2e6; */
    border-collapse: collapse;
}


footer{
    padding: 12px 0;
    background-color: rgb(46, 36, 36);
    color: white;
    text-align: center;
}
nav ul.mobile{
    display: none;
}
@media screen and (max-width: 513px){
    /* nav{
        min-height: 50px;
        padding: 0 20px;
        position: fixed;
        width: 100%;
    }
    nav ul.desktop{
        display: none;
    } */
    nav#mobile-display{
        display: flex;
        flex-direction: column;
    }
    nav div.mobile{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .dropdown-items{
        display: none;
    }
    .bi-x-lg{
        display: none;
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .bi{
        margin-left: 0;
        position: static;
        z-index: 99;
    }
    figure{
        border: 1px solid #dee2e6;
        border-radius: 5px;
        background-color: white;
        padding: 5px;
    }
    figure img{
        width: 100%;
        border-radius: 5px;
    }
    figure:nth-child(3), figure:nth-child(4){
        display: none;
    }
    .jumbotron{
        padding: 100px 0;
    }
    .jumbotron h1{
        margin-top: -10px;
    }
    .jumbotron p{
        display: none;
    }
    .overview{
        /* background-color: darkmagenta; */
        text-align: center;
        padding: 12px 0;
    }
    figure{
        text-align: left;
    }
    .overview-image{

        display: flex;
    }
    .overview-image figure{
        transition: all .3s ease-in-out;
    }
    .overview-image figure:hover{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: all .3s ease-in-out;
    }
    .teh-hijau{
        display: block;
    }

    footer{
        font-size: 12px;
    }


    /* AWAL ABOUT */
    #about-article{
        background-color: lightgreen;
        padding: 20px;
    }
    #about-article img{
        width: 100%;
        border-radius: 16px;
    }
    #about-article h3{
        font-family: 'Fredoka One', cursive;
    }
    #about-article p{
        text-indent: 30px;
        text-align: justify;
    }
    #about-article ul{
        padding: 0;
    }
    #about-article li{
        list-style-type: none;
        background-color: whitesmoke;
        margin-top: 1px;
        padding: 12px;
    }
    .list-dropdown div{
        display: none;
    }
    .Active div{
        display: block;
    }
    /* AKHIR ABOUT */
    #team{
        padding: 20px;
    }
    #team h3{
        font-family: 'Fredoka One', cursive;
    }
    .team img{
        border-radius: 50%;
    }
    #team section:last-child{
        margin-top: 20px;
    }
    #team section:last-child figure{
        margin: 0;
        width: 90%;
        transition: all .3s ease-in-out;
    }
    #team section:last-child figure:hover{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: all .3s ease-in-out;
    }
    #team section:last-child img{
        border-radius: 5px 5px 0 0;
    }
    #team figcaption{
        font-size: 12px;
    }
    .join ul{
        font-size: 12px;
    }
    .join li{
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    .join a{
        color: black;
        text-decoration: none;
    }.join a:hover{
        color: rgb(39, 39, 39);
    }
    .join img{
        width: 25px;
        margin-right: 12px;
    }
}